:root {
    --bs-accordion-transition: none;
}


#about {
    height: 100vh; 
    overflow: auto; 

}

D
.about-content {
    flex: 1;
    overflow-y: auto; /* Enable scrolling */
    prefers-reduced-motion: no-preference;

}

.accordion-item {
    display: flex;
    flex-direction: column;
}

.card {
    flex-grow: 1;
}

.card:hover {
    transform: translateY(0px);
  }


  