.card {
    display: flex;
    flex-direction: column;
    height: 100%;
    border: none;
    transition: transform 0.3s ease;
  }
  
  .card:hover {
    transform: translateY(-10px);
  }
  
  .card-body {
    flex-grow: 1;
  }
  .carddesign{
    background-color: #172483;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; 
  }