body{
    background-color: whitesmoke;
    color: #06283D;
    
  }
  h1{

    font-family: "PT Serif", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
  }
  